PORT=8080
MONGO_URI=
JWT_SECRET=
JWT_EXPIRES_IN=7d
NODE_ENV=development
CLIENT_URL=http://localhost:5173
TRUST_PROXY=0

# Razorpay TEST MODE only
RAZORPAY_KEY_ID=rzp_test_TidFQ26nieU4X8
RAZORPAY_KEY_SECRET=Lr1S15u0ro1Qq9byO5230Yi1
RAZORPAY_WEBHOOK_SECRET=https://your-backend-domain.com/api/payments/razorpay/webhook
